@using MongoDbProject.Dtos.DiscountDtos
@model List<ResultDiscountDto>

@for (int i = 0; i < Model.Count; i++)
{
    var item = Model[i];

    if (i % 2 == 0) // Çift indeksler için block-2
    {
        <div class="banner-ad bg-success-subtle block-2" style="background:url('@item.ImageUrl') no-repeat;background-position: right bottom">
            <div class="row banner-content p-5">
                <div class="content-wrapper col-md-7">
                    <div class="categories sale mb-3 pb-3">@item.Title</div>
                    <h3 class="banner-title">@item.Subtitle</h3>
                    <a href="#" class="d-flex align-items-center nav-link">Alışveriş Yap <svg width="24" height="24"><use xlink:href="#arrow-right"></use></svg></a>
                </div>
            </div>
        </div>
    }
    else // Tek indeksler için block-3
    {
        <div class="banner-ad bg-danger block-3" style="background:url('@item.ImageUrl') no-repeat;background-position: right bottom">
            <div class="row banner-content p-5">
                <div class="content-wrapper col-md-7">
                    <div class="categories sale mb-3 pb-3">@item.Title</div>
                    <h3 class="item-title">@item.Subtitle</h3>
                    <a href="#" class="d-flex align-items-center nav-link">Alışveriş Yap <svg width="24" height="24"><use xlink:href="#arrow-right"></use></svg></a>
                </div>
            </div>
        </div>
    }
}
